<a href="https://colab.research.google.com/github/dhivaraj/learner/blob/main/intellipaatexercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
x = []
for a in range(1,21):
  x.append(a**2)
print(x)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [21]:
for r in range(1,11):
  q={r:r**2}
  print(q)

{1: 1}
{2: 4}
{3: 9}
{4: 16}
{5: 25}
{6: 36}
{7: 49}
{8: 64}
{9: 81}
{10: 100}

In [13]:
k = {e:e**2 for e in range(1,11)}
print(k)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [26]:
for r in range(1,11):
  print(f'{r} : {r**2}')

1 : 1
2 : 4
3 : 9
4 : 16
5 : 25
6 : 36
7 : 49
8 : 64
9 : 81
10 : 100

In [36]:
s = tuple()
for s in range (1,21):
  if s%2 ==0:
    print (s)

2
4
6
8
10
12
14
16
18
20

In [63]:
f = tuple(range(2,21,2))
for d in f: 
  print(d)

2
4
6
8
10
12
14
16
18
20

In [59]:
f = tuple([d for d in range(2,21,2)])
print(f)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [65]:
g = set([c for c in range(1,21,2)])
print(g)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}

In [66]:
g = set([c for c in range(1,21) if c%2 !=0])
print(g)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}

In [73]:
a = [[1,2],[3,4],[5,6],[7,8]]
for s in a:
  for t in s:
    print(t)

1
2
3
4
5
6
7
8

In [75]:
a = {1: {'one':1}, 2: {'two':2}, 3: {'three':3}}
for i in a.values():
  print(i)
  for j in i.values():
    print(j)

{'one': 1}
1
{'two': 2}
2
{'three': 3}
3

In [76]:
a = {1: {'one':1}, 2: {'two':2}, 3: {'three':3}}
for i in a.values():
  print(i)

{'one': 1}
{'two': 2}
{'three': 3}

In [90]:
a = list(range(1,101))
i = 0
while i <= len(a):
  i += 1 
  if i%2==0:
    print(i,"", end='')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [94]:
i = 1
while i < 6:
  print(i*3)
  i += 1

3
6
9
12
15

In [102]:
a= {d:d*d*d}
d= 1
while d in range (1,11):
  d +=1
  print(a)

{11: 1331}
{11: 1331}
{11: 1331}
{11: 1331}
{11: 1331}
{11: 1331}
{11: 1331}
{11: 1331}
{11: 1331}
{11: 1331}

In [113]:
a = {i: i*i*i for i in range(1,11)}
b = 1
while b <= len(a):
  b +=1
  print(a)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}
{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [ ]:
for f in range (0,10):
  while f < 11:

In [114]:
for num in range (1,8):
  print("*"*num)

*
**
***
****
*****
******
*******

In [60]:
f = tuple([d for d in range(2,21) if d%2==0])
print(f)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [ ]:
print("Hello Sir")
name=input('enter your name')
password=input('ENTER YOUR PASSWORD')
if name=="user1":
  if password=='1234':
   print('welcome_user1')
   loanamount=int(input('enter your loan amount'))
   if loanamount>10000:
    print ("you are eligible")
    APR=input("enter the APR")
    if APR>5 or APR<15:
      print ("yes, you are eligible")
    else:
      print('uh oh.. credentials are incorrect')
   else:
     print("Please talk to customer care")
else:  
  print("invalid data, please retry")

Hello Sir
enter your nameuser1
ENTER YOUR PASSWORD1234
welcome_user1
enter your loan amount100001
you are eligible
enter the APR10

TypeError: ignored

In [ ]:
name=input("enter the name")
password=input("rocky")
if name=="baba":
  if password=="rama":
    print("welcomebabaji")
  else:
    print("passwrod incorrect")
elif name=="raja":
  if password=="rama":
    print("welcomerajaji")
  else:
      print("poda")

enter the namebaba
rockyrama
welcomebabaji

In [ ]:
name=input("enter your name")
if name == "Dhivagar":
  print("Welcome")
elif name == "raja":
  print("hello bro")
else:
  print("access declined")

enter your namedas
access declined

In [ ]:
#datatype
#int float string boolean list tuple sets dictionary {key : value}
  #list[] tuple() sets{} - containers for different data types

In [ ]:
#Nestedif

In [ ]:
#create a data structure
a=[]
a=list()
a=[1,2,'python', True]

In [ ]:
a= "dhivagar"
a[7:8:1]

'r'

In [ ]:
s=[1,2,3,4,5]
s[-2:-1]

[4]

In [ ]:
#multiple variable declaration
a=b=c=5
a

5

In [ ]:
x,y,w=1,2,3
w

3

In [ ]:
# basics of python
print ("Hello phython")

Hello phython

In [ ]:
#variable cannot start with a number, special symbols
#stricttyped, loosely typed
#some programs like c ends with; {}
#indentation is important in python

In [ ]:
#input()
#basic datatype is string
#string are with "" and ''
x=input("Enter his name")
x

Enter his namepython

'python'

In [ ]:
#type conversion
#int() #float() #str() bool()
x=int(input("Enter first value"))
y=int(input("Enter second value"))
z=x+y
z

Enter first value10
Enter second value20

30